<!doctype html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Vigil</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      var SocketKlass = "MozWebSocket" in window ? MozWebSocket : WebSocket;
      var ws = new SocketKlass('ws://' + window.location.host + '/messages');
      ws.onmessage = function(msg){
        console.log(msg.data);
        var data = msg.data.split('.');
        var project = data[0];
        var task = data[1];
        var status = data[2];
        if (task === "build" && status === "started") {
          $("#" + project + " li").removeClass();
        }
        else {
          var klass = "failed";
          if (status === "started") {
            klass = "running";
          }
          else if (status === "done") {
            klass = "ok";
          }
           
          $("#" + project + "-" + task).removeClass();
          $("#" + project + "-" + task).addClass(klass);
        }
        $('#info').text(msg.data);
      }
    </script>
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
  </head>
  <body>
    <h1 id="title">Vigil</h1>

    <div id="content">
      <h2><%= project.name %></h2>
      
      <ol id="<%= project.name %>" class="pipeline">
        <li id="<%= project.name %>-bundle">Bundler</li>
        <li id="<%= project.name %>-tests">Tests</li>
        <li>Release gem</li>
      </ol>

      <h3>README</h3>

      <section id="readme">
        <%= project.readme.to_html %>
      </section>
    </div>
  </body>
</html>
