<!doctype html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <title>Vigil</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/main.css" type="text/css" />
  </head>
  <body>
    <h1 id="title">Vigil</h1>

    <div id="content">
      <h2><%= data[:name].capitalize %></h2>
      
      <ol id="<%= data[:name] %>" class="pipeline">
        <li id="<%= data[:name] %>-bundle">Bundler</li>
        <li id="<%= data[:name] %>-tests">Tests</li>
        <li>Release gem</li>
      </ol>

      <h3>Stuff</h3>
      <ul>
        <li><a href="/coverage/<%= data[:name] %>/<%= data[:name] %>">Coverage</a></li>
      </ul>


      <h3>Builds</h3>

      <table>
        <% data[:reports].each do |r| %>
        <tr>
          <% r[:log].each do |t| %>
          <td class="<%= t[:status] ? 'ok' : 'failed' %>"><%= t.name %></td>
          <% end %>
        </tr>
        <% end %>
      </table>

      <table>
        <tr>
          <th>#</th>
          <th>Bundler</th>
          <th>Tests</th>
          <th>Release gem</th>
        </tr>
        <tr>
          <th>10</th>
          <td class="ok">.</td>
          <td class="ok">.</td>
          <td class="">.</td>
        </tr>
        <tr>
          <th> 9</th>
          <td class="ok">.</td>
          <td class="ok">.</td>
          <td class="ok">.</td>
        </tr>
        <tr>
          <th> 8</th>
          <td class="ok">.</td>
          <td class="ok">.</td>
          <td class="failed">.</td>
        </tr>
        <tr>
          <th> 7</th>
          <td class="ok">.</td>
          <td class="failed">.</td>
          <td class="">.</td>
        </tr>
        <tr>
          <th> 6</th>
          <td class="failed">.</td>
          <td class="">.</td>
          <td class="">.</td>
        </tr>
      </table>


      <h3>README</h3>

      <article id="readme">
        <%= project.readme %>
      </article>
    </div>
  </body>
</html>
